
body {
    font-family: 'Arial', sans-serif;
    background-color: #9dc3f3;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
button {
    width: 190px;
    height: 45px;
    font-size: 16px;
    background-color: #244B38;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
}
button:hover {
    background-color: #1B3628;
}


.container{
    background-color: white;
    border: 2px solid #244B38;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    padding: 20px;
}

#ok{
    width: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 33%;
}

#nameDisplay {
    font-weight: bold;
}


.pet-card {
    background-color: white;
    border: 2px solid #244B38;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
}
}