
/* Style for the Tamagotchi pet adoption page mobile first*/
header {
    width: 75%;
    background-color: #244B38;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #9dc3f3;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;


.container {
    background-color: white;
    border: 2px solid #244B38;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#history {
    background-color: white;
    border: 2px solid #244B38;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    width: 800px;
}



#nameDisplay {
    font-weight: bold;
}


.pet-card {
    background-color: white;
    border: 2px solid #244B38;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
}

@media (min-width: 600px) {
    .container {
        width: 800px;
        padding: 20px;
    }
}