
/* Style for the Tamagotchi pet adoption page mobile first*/
header {
    background-color: #244B38;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #244B38;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container {
    background-color: white;
    border: 2px solid #244B38;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}
#petName, #petType {
    margin: 10px;
    padding: 10px;
    border: 2px solid #244B38;
    border-radius: 5px;
    text-align: left;
    font-weight: bold;
}

#history {
    background-color: white;
    border: 2px solid #244B38;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.select {
    margin: 10px;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    width: 33%;

}

.petNameContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 20px;
}


.petCard {
    background-color: white;
    border: 2px solid #244B38;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

button {
    background-color: #244B38;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1B3729;
}
