
body {
    font-family: 'Arial', sans-serif;
    background-color: #9dc3f3;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
button {
    width: 190px;
    height: 45px;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #244B38;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
}
button:hover {
    background-color: #1B3628;
}
#petContainer, .container {
    background-color: white;
    border: 2px solid #244B38;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.pet-card {
    background-color: white;
    border: 2px solid #244B38;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
}
}